body, html {
  margin:0;
  padding:0;
  line-height: 1.5em;
  height: 100%;
  width: 100%;
  position:relative;
}

h1 {
	font-family: 'Zen Kurenaido', sans-serif;
	text-align: center;
	font-size: 75px;
	background-color: white;
	height: 80px;
	padding-top: 40px;
	/*box-shadow: 5px 5px;*/
}

h2 {

	font-family: 'Zen Kurenaido', sans-serif;
	text-align: center;
	font-size: 50px;
	background-color: black;
	color: white;
	height: 55px;
	width: 500px;
	padding-top: 20px;
	margin-left: 275px;
}

h3 {
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 500;
	font-size: 35px;
}

h4 {
	font-family: 'Barlow Condensed', sans-serif;
	font-weight:100;
	font-size: 30px;
}

p {

	font-family: 'Benne', serif;
	font-size: 25px;
	text-align: justify;
	text-justify:inter-word;
	width:1000px;
	margin:auto;
	padding: 10px;
}

li {
	font-family: 'Benne', serif;
	font-size: 25px;
	text-align: left;
	margin: 10px;
}

/*main page*/

#zebraCowboy {
  	margin: 0;
  	padding: 0;
  	height:100%;
  	width:100%;
  	background-image: url(background.png);
}

.greeting {
	display: inline-block;
	margin:0;
	width:50%;
}

#hello {
	width: 250px;
	margin-left: 360px;
	position: absolute;
	top:25%;
	left:8%;
}

#iam {
	width: 120px;
	margin-left: 490px;
	position: absolute;
	top:45%;
	left:8%;
}

#sari {
	width: 200px;
	margin-left: 410px;
	position: absolute;
	top:65%;
	left:8%;
	/*text-shadow: 2px 2px 2px #0000ff;*/
}

#zebraCowboy img {
	display: inline-block;
	height: 100%;
	width: auto;
	float:right;
	padding-right: 70px;
}

#spaceCamel {
	background-color: rgba(13, 13, 13, 0.2);
	width:80%;
	margin:auto;
	padding:50px;

}

#aboutMe {
	margin: 0;
	padding: 0;
	background-image: url(background2.png);
}

#workHist {
	margin: 0;
	padding: 0;
	background-image: url(background2.png);
}

#education {
	margin: 0;
	padding: 0;
	background-image: url(background2.png);
}

#skills {
	margin: 0;
	padding: 0;
	background-image: url(background2.png);
}